.wallpaper{
    background-image: url(images/blackbackground.jpg);
}

.sunset{
    background-image: url(images/sunset.jpg);
}

span{
    color: black;
}

#buffet{
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
    border: 5px solid blue;
    color: bisque;
}

.food{
    background-image: url(images/food.jpg);
}
.cruise{
    background-image: url(images/cruise.jpg);
}


.title{
    text-align: center;
    margin: 25px;
    color: aquamarine;
    background-color: red;
}

.post1{
    border: 5px solid lime;
    height: 960px;
    width: 640px;
    position: relative;
    margin-left: 590px;
    margin-top: 30px;
}

.ocean{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-right: 1200px;
    color: violet;
    padding: 75px;
    border: 5px solid aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post2{
    border: 5px solid seagreen;
    height: 853px;
    width: 640px;
    position: relative;
    margin-left: 590px;
    margin-top: 30px;
}


.post3{
    border: 5px solid palevioletred;
    height: 426px;
    width: 640px;
    position: relative;
    margin-left: 590px;
    margin-top: 30px;
}
